

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

.wrapper {


}


html {
  scroll-behavior: smooth;
}

.navbar {

  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px;
  border: 2px solid white;
  background-color: #333;
  color: white;

  margin: 0px 10px;
  resize: horizontal;
}


.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navstyle {
   font-family: Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   font-size: 20px;
   text-size-adjust: 40px;
   color: #2D2164;
   font-stretch: semi-expanded;
   font-weight: 200;
}

.navstyle:after {

  background: none repeat scroll 0 0 transparent;
  bottom: 100;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  /*position: absolute;*/
  background: #2D2164;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navstyle:hover:after {
  width: 100%;
  left: 0;
}


@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/*
a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
}
*/

 .first, .second, .third, .fourth, .fifth, .sixth{
  display: flex;
  flex-grow: 1;
  scroll-behavior: smooth;
}

.first {
  background-image: url('../assets/hero.png');
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  padding-top: 66.667%;
  /*background-size: contain; */
  background-position: auto;
  /* min-height: 300px; */
  margin: 0px 10px;
}

.lis {
   font-size: 20px;
}

.second {
  height: 900px;
  margin: 0px 10px;
  justify-content: space-around;
  animation: fading 4s infinite;
  -webkit-animation: fading 20s infinite;
  animation: fading 4s infinite;
  -webkit-animation: fading 20s infinite;
}

@keyframes fading {
    0%   { background: white; }
    15%  { background: ##f7e6ff; }
    40%  { background: lavender; }
    65%  { background: #d0eeed; }
    90%  { background: #f5edeb; }
    100% { background: white; }
  }


.third {
  background: linear-gradient(217deg, rgba(200,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);;
  height: 900px;
  margin: 0px 10px;
}


.fourth {
  background-color: lavender;
  height: 1000px;
  margin: 0px 10px;
}

.fifth {

  background: linear-gradient(135deg, orange 50%, cyan);;
  height: 400px;
  margin: 0px 10px;
}

.sixth {

  background-color: #7979DF;
  height: 500px;
  margin: 0px 10px;
}


.text{
  font-family: "Urbanist";
  margin: auto;
  padding: 20px;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  resize: both;

}

.hiddenDesktop {
  @media (max-width: 600px) {
    display: none;
  }
}

.hiddenMobile {
  @media (max-width: 600px) {
    display: none;
  }
}


  @media (max-width: 600px) {
    body{
      background-color: lightblue;
    }
