

.wrapper {
  /*background: green;
  height: 100%;
  padding: 1000px;*/
}

div {
  flex-grow: 1
}

html {
  scroll-behavior: smooth;
}

nav {
  width: 339px;
  padding: 5px;
  border: 1px solid black;
}

a {
  display: inline-block;
  width: 50px;
  text-decoration: none;
}

.first, .second, .third, .fourth {
  display: flex;
}

.first {
  background-image: url('assets/1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.second {
  background-color: orange;
  height: 400px;
}

.third {
  background-color: lightblue;
  height: 400px;
}


.fourth {
  background-color: lavender;
  height: 400px;
}
