

.wrapper {
  background: blue;
  height: 100%;
  padding: 400px;
}

.first {
  background-image: url('assets/1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.1;
}

.second {
  background-color: pink;
  height: 100px;
}
